name: build

on:
  push:
    branches: ["*"]
    tags: ["*.*.*"]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: astral-sh/setup-uv@v5
    - run: |
        set -e
        uv tool install tox --with tox-uv
        tox

  publish:
    needs: [test]
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/markdown-gfm-admonition
    permissions:
      id-token: write
      contents: write
    steps:
    - uses: actions/checkout@v4
    - uses: astral-sh/setup-uv@v5
    - run: uv build
    - uses: actions/upload-artifact@v4
      with:
        name: dist
        path: dist/*
    - if: github.ref_type == 'tag'
      uses: softprops/action-gh-release@v1
      with:
        files: |
          dist/markdown-gfm-admonition-*.tar.gz
          dist/markdown_gfm_admonition-*.whl
    - if: github.ref_type == 'tag'
      uses: pypa/gh-action-pypi-publish@release/v1
